*{
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #030712;
}
h1{
  text-align: center;
  color: white;
}
.btn{
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  margin: 20px 0;
  padding: 0.5rem;
  justify-content: center;
  color: #030712;
  /* border: 2px dashed lightgray; */
  border-radius: 0.4rem;
  width: 26rem;
  cursor: pointer;
  transition: 0.3s;
}

/* .active{
  color: white;
  background-color: #030712;
} */
.card{
  width: 26rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-top: 1.5rem;
}
textarea{
  min-height: 100px;
  font-size: 1.5rem;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid lightgray;
  border-radius: 0.3rem;
  padding: 0.5rem 0.9rem;
  resize: none;
}
text::placeholder{
  color: lightgray;
}
.content{
  width: 26rem;
  margin-top: 2rem;
  border: 2px dashed lightgray;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}
label{
  font-size: 0.8rem;
  font-weight: 500;
  color: lightgray;
}
p{
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  color: orange;
  word-wrap: break-word;
}

@media(max-width: 391px){
  .btn{
    width: 16rem;
  }
  .card{
    width: 16rem;
  }
  .content{
    width: 14rem;
  }
  h1{
    padding: 0 10px;
    font-size: 24px;
  }
}